* {
    box-sizing: border-box;
    font-family: 'Saira-Regular'
}

body {
    background-color: #dbe8de;
    background-image: url('../public/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-width: 320px;
}

@font-face {
    font-family: 'Saira-Regular';
    src: url('../public/fonts/Saira-Regular.eot');
    src: url('../public/fonts//Saira-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts//Saira-Regular.woff2') format('woff2'),
        url('../public/fonts//Saira-Regular.woff') format('woff'),
        url('../public/fonts//Saira-Regular.ttf') format('truetype'),
        url('../public/fonts//Saira-Regular.svg#Saira-Regular') format('svg');
}